.collection-page {
	display: flex;
	flex-direction: column;

	.title {
		margin: 0 auto 30px;
		font-size: 38px;
	}

	.items {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 10px;
		display: grid;

		& .collection-item {
			margin-bottom: 30px;
		}
	}
}
